head
  meta(charset='utf-8')
  title Sage
  meta(name='description', content='Share the best of the web, once a day')
  meta(name='author', content='Bryan Garza')

  meta(name='viewport', content='width=device-width', initial-scale=1)

  link(href='file://fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')

  link(rel='stylesheet', href='/bower/skeleton-css/css/normalize.css')
  link(rel='stylesheet', href='/bower/skeleton-css/css/skeleton.css')

  link(rel='icon', type='image/png', href='/bower/skeleton-css/images/favicon.png')
