head
  meta(charset='utf-8')
  title Sage
  meta(name='description', content='Share the best of the web, once a day')
  meta(name='author', content='Bryan Garza')

  meta(name='viewport', content='width=device-width', initial-scale=1)

  link(href='file://fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')

  link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/bower/bootstrap/dist/js/bootstrap.min.js')
