block content
  form(method='post', action='/login')
    input(type='text', placeholder='email', name='login[email]')
    input(type='text', placeholder='password', name='login[password]')
    input(type="submit", value="Submit")
